name: monorepo-split

on:
  push:
    branches:
      - main
    tags:
      - '*'

jobs:
  split-monorepo:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        package:
          # - abn
          - action
          # - billing
          # - bind
          # - chart
          # - command
          # - core
          # - crumb
          # - data
          # - disable
          # - flash
          # - form
          - honed
          - infolist
          # - lang
          # - layout
          # - lock
          # - memo
          # - modal
          # - nav
          # - option
          # - page
          # - persist
          # - refine
          # - registry
          # - scaffold
          # - stats
          - table
          # - upload
          # - widget
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Check if repository exists
        id: check_repo
        run: |
          HTTP_STATUS=$(curl -s -o /dev/null -w "%{http_code}" -H "Authorization: token ${{ secrets.SPLIT_REPO }}" \
            https://api.github.com/repos/honedlabs/${{ matrix.package }})
          if [ "$HTTP_STATUS" -eq "404" ]; then
            echo "exists=false" >> $GITHUB_OUTPUT
          else
            echo "exists=true" >> $GITHUB_OUTPUT
          fi

      - name: Create repository if it doesn't exist
        if: steps.check_repo.outputs.exists == 'false'
        run: |
          curl -X POST \
            -H "Authorization: token ${{ secrets.SPLIT_REPO }}" \
            -H "Accept: application/vnd.github.v3+json" \
            https://api.github.com/orgs/honedlabs/repos \
            -d '{
              "name": "${{ matrix.package }}",
              "description": "[READ ONLY] Subtree split of the '${{ matrix.package }}' package from the Honed repository.",
              "homepage": "https://honed.dev/${{ matrix.package }}",
              "private": false,
              "has_issues": false,
              "has_projects": false,
              "has_wiki": false,
              "auto_init": false
            }'
      
      - name: Split package ${{ matrix.package }}
        uses: symplify/github-action-monorepo-split@v2.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.SPLIT_REPO }}
        with:
          package_directory: 'packages/laravel/${{ matrix.package }}'
          repository_organization: 'honedlabs'
          repository_name: '${{ matrix.package }}'
          user_name: ${{ vars.REPO_USER }}
          user_email: ${{ vars.REPO_EMAIL }}
          branch: "main"
